{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, an Artist and Software Developer based in Dublin, Ireland.</h3>
        <h3>I am in my final year of study for a BSc. in Computer Applications and Software Engineering.</h3>
        <h3>When I'm not breaking/fixing/tweaking my Linux config, I like to play guitar, cook, sketch and code things.</h3>
        <h3>Have a look at some of my <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic &amp; professional <a href="{{ .Site.BaseURL }}resume/">resume</a>.</h3>
        <h3>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
